.steps__items {
  display: flex;
  max-width: 1376px;
  padding: 8px 64px;
  margin: 0 auto;
  width: 100%;
}
.steps__item-name {
  margin-right: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}
.steps__item-name:focus {
  outline: none;
}
.steps__item-name:disabled {
  color: #999999;
  cursor: default;
}
.steps__item-triangle {
  margin-right: 16px;
}
.steps__item-name--active {
  color: #0ec261;
}
.steps__finished {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}
@media screen and (max-width: 1023px) {
  .steps__items {
    padding: 8px 32px;
  }
}
@media screen and (max-width: 767px) {
  .steps__items {
    padding: 8px 64px;
    flex-direction: column;
  }
  .steps__item-triangle {
    display: none;
  }
}
