.login__wrapper {
  background: #f5f6f8;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.login {
  display: flex;
  flex-direction: column;
  margin: 15vh 16px 16px 16px;
  align-items: center;
  max-width: 380px;
  min-width: 300px;
  flex-grow: 1;
}
.login__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  height: 44.5px;
  width: 44.5px;
  margin-right: 11px;
}
.logo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #3d5170;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 17px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
    0px 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
  padding: 18px;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #3d5170;
    margin-bottom: 36px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__access {
    font-style: normal;
    font-weight: normal;
    font-size: 10.5px;
    line-height: 12px;
    color: #007bff;
    cursor: pointer;
  }
}
