@import "assets/fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.button {
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.button:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}
.button:active {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}
